<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>{{ 'budega.admin.dashboard' | translate }}</h1></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
      <h2>{{ 'budega.settings.general.title' | translate }}</h2>
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
    <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
      <h2>{{ 'budega.settings.general.title' | translate }}</h2>
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
  </div>
</div>
